<div data-th-include="web/borrowUser/borrowUserAdd"></div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
		            </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportBorrowUserExcel()">
		                    Excel (.xlsx)
		                </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportBorrowUserCsv()">
		                    CSV (.csv)
		                </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="borrowUser:add,borrowUser:delete,borrowUser:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#borrowUser-add" shiro:hasPermission="borrowUser:add">新增借款人</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateBorrowUser()" shiro:hasPermission="borrowUser:update">修改借款人</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteBorrowUsers()" shiro:hasPermission="borrowUser:delete">删除借款人</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="borrowUser-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	姓名：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="userName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	手机号：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="borrowUserTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/web/borrowUser/borrowUser.js}"></script>
<script data-th-src="@{js/app/web/borrowUser/borrowUserEdit.js}"></script>